

body {
    background-color: #001f3f; 
    color: #fff; 
}

a {
    text-decoration: none;
    color: #fff; 
}

.login-page {
    background-color: #001f3f;
}

.bg-light {
    background-color: #001f3f !important; 
}

.bg-white {
    background-color: #003165 !important; 
}

.form-left {
    color: #e6efff;
}

.form-right {
    background-color: #001f3f; 
    color: #fff; 
}

.form-right i {
    font-size: 100px;
}
